PORT=
ADMIN_USER=
ADMIN_PASS=
MONGO_URI=
MONGO_DBNAME=
AI_SERVICE_URL=https://ai-module-dmh1.onrender.com
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=