PORT=
ADMIN_USER=
ADMIN_PASS=
MONGO_URI=
MONGO_DBNAME=
AI_SERVICE_URL=https://spgmsai.onrender.com
JWT_SECRET=
EMAIL_USER=
BREVO_SMTP_LOGIN=
BREVO_SMTP_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=